api_server/node_modules
data_archiver/data_archive
mongo/*
rabbitmq/*
.env
influxDB/.env
**/__pycache__/
*.pyc

# Ignore seluruh folder data runtime InfluxDB & Grafana
influxDB/*
influxDB/**/*
grafana/grafana.db
grafana/plugins/

# Dokumen Skripsi (Non-kode)
DOKUMEN SKRIPSI/
"DOKUMEN SKRIPSI/"
DOKUMEN SKRIPSI

# KECUALIKAN file .env.example agar tetap masuk ke Git
!influxDB/.env.example